@mixin list-style {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

@mixin a-style {
  margin-right: 35px;
  font-size: 10px;
  text-decoration: none;
}

@mixin grad {
  background-image: linear-gradient(to right, #55eb62, $primary-color);
  color: white;
}


@mixin black-grad {
  background-image: linear-gradient(to right, #575252, #000000e8);
  color: white;
}

@mixin paragr {
  color: $text-color;
  font-size: $paragr-font;
  font-weight: 300;
}


