@mixin list-style {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

@mixin a-style {
  margin-right: 35px;
  font-size: 10px;
  text-decoration: none;
}

@mixin grad {
  background-image: linear-gradient(to right, #55eb62, $primary-color);
}


